* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #080a12, #0b5f19);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 380px;
    background: #fff;
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.6s ease;
}
h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #333;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #444;
}

input,
textarea {
    margin-top: 5px;
    margin-bottom: 12px;
    resize: vertical ;
    min-height: 40px;
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    transition: all 0.3s ease;
}

input:focus,
textarea:focus {
    border-color: #667eea;
    box-shadow: 0 0 6px rgba(102, 126, 234, 0.4);
}

input.error {
    border-color: red;
}

input.success {
    border-color: green;
}

small {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: -8px;
    margin-bottom: 8px;
}


button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #667eea, #764ba2);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}


button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}


button:disabled {
    background: #aaa;
    cursor: not-allowed;
    box-shadow: none;
}


#counter {
    font-size: 13px;
    color: #555;
    text-align: right;
}


#warning {
    font-size: 13px;
    color: red;
    text-align: right;
}

/*LINE */
hr {
    margin: 20px 0;
    border: none;
    height: 1px;
    background: #eee;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

